.iconBtn
{
    display: inline-block;
	width: 20px;
	height: 20px;
}

.whiteFill
{
	fill: white;
}

.navHeight
{
	height: 40px;
}

.bodyHeight
{
	height: calc(100vh - 50px);
}

#mainCanvas
{
	width: calc(100vw * 10/12);
	height: calc(100vh - 50px);
}

.red
{
	background-color: red;
}