.icon
{
    display: inline-block;
	width: 20px;
	height: 20px;
}

.whiteFill
{
	fill: white;
}

.greenFill
{
	fill: darkgreen
}

.navHeight
{
	height: 40px;
}

.bodyHeight
{
	height: calc(100vh - 50px);
}





@media (width >= 567px)
{
	#eqnList
	{
		width: 200px;
	}

	#mainCanvas
	{
		width: calc(100vw - 210px);
		height: calc(100vh - 50px);
	}
}

@media (width < 576px)
{
	#mainContainer
	{
		flex-direction: column-reverse;
	}
	
	#eqnList
	{
		width: 100vw;
		height: 200px;
	}

	#mainCanvas
	{
		width: 100vw;
		height: calc(100vh - 250px);
	}
}