.iconBtn
{
    display: inline-block;
	width: 1rem;
	height: 1rem;
	vertical-align: -.125em;
	fill: white;
}

.navHeight
{
	height: 40px;
}

.bodyHeight
{
	height: calc(100vh - 40px);
}

#mainCanvas
{
	width: calc(100vw * 10/12);
	height: calc(100vh - 40px);
}